<header>
    <p class="title">{{title}}</p>
    <div id="proj_summary">
        <div class="proj proj_green">

        </div>
        <div class="proj proj_yellow">

        </div>
        <div class="proj proj_red">

        </div>
    </div>
</header>





