<section class="projects_container">

</section>


<div class='templates' style="visibility: hidden">

    <!--Project Template-->
    <div class="project_template">
        <div class="projects">

            <div class="projects_header">
                <img class="project_avatar" src=""></img>
                <span class="project_title"></span>
                <a href="#" class="project_toggle"></a>
            </div>

            <div class="proj_closed">
            </div>

            <div class="proj_open hidden">
            </div>
        </div>
    </div>

    <!--User Template-->
    <div class="user_template">
        <div class="user">
            <!--<span class="percentage"></span>
            <img src="">-->
        </div>
    </div>

    <!--Viewer Template-->
    <div class="viewer_template">
        <div class="user_container">

        </div>
    </div>
</div>

