<!doctype html>
<html>
<head>

    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700|Roboto:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"></link>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery_ui.css"></link>
    <meta charset="utf-8" />
    <title>{{title}}</title>
</head>
<body>
    <div id="main_container">
        {{{body}}}
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="js/lib/moment.js"></script>
    <script src="js/lib/handlebars.js"></script>
    <script src="js/controller.js"></script>
</html>